@mixin news-date {
    opacity: .8;
    font-size: .9rem;
    clear: both;
}

.news-list {
    li {
        margin-bottom: 2em;

        >h3 {
            font-size: 1.5rem;
        }

        img {
            max-width: 130px;
            height: auto !important;
        }

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .announce {
        overflow: auto;
        margin-bottom: .5em;
        clear: both;
    }

    .date {
        @include news-date;
    }

    @include ancor-cust;
}

.news {
    .date {
        @include news-date;
        margin-bottom: 1em;
    }
}